localhost:80 127.0.0.1:80 telemetry.0xt.ca:80 {
    root /assets
    header / {
      -Server
      Cache-Control "no-cache, no-store, must-revalidate"
    }
    proxy /api http://4zp6controller:6060 {
      keepalive 32
      transparent
    }
}
